/*
table, tr, td {
    border: 2px solid black;
}*/
table {
   float: center;
   align: center;
   margin-left:auto;
   margin-right:auto;
   width:70%;
   text-align:center;
}

td {
    width: 50%;
}

.bar {
    height: 20px;
    width: 400px; /* edit width to change reflect data */
    background-color:gray;
    margin:10px;
    border: 1px solid #63656B;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

#demtable > .bar {
    background-color: #1C32D6;    
    float: left;
    margin-left:0;
}

#reptable > .bar {
    background-color: #E03838;    
    float:right;
    margin-right:0;
}

.left {
    float: left;
}


.right {
    float: right;
}

